// sidebar
$menuText:#434868;
$menuActiveText:rgb(244,120,48);
$subMenuActiveText:rgb(244,120,48); //https://github.com/ElemeFE/element/issues/12951

$menuBg:rgb(146,198,62);
$menuHover:#4bb4d4;

$subMenuBg:rgb(146,198,62);
$subMenuHover:#4bb4d4;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
